<div class="row text-center small-hide">
  <div class="col-xs-12 col-lg-8"
       ng-class="{ 'col-lg-offset-2': albumType=='videos', 'col-lg-offset-1': albumType != 'videos'}"
       style="display:inline-flex; ">
    <div class="text-center"
         ng-class="{'highlighted': album.name  === currentAlbum}"
         ng-repeat="album in albumCovers track by $index"
         ng-click="goToAlbum(album.name, albumType)"
         ng-if="albumType != 'videos' || !album.hide_video_view">
      <div class="ml-2 mr-2 cursPoint"
           style="padding:10px;">
              <span >
                  <img class="br20"
                       ng-src="{{album.thumbnail}}"
                       height="100em; ">
              </span>
      </div>
      <p class="text-white text-small text-center">
        {{titleCaps(album.name)}}
      </p>
    </div>
  </div>
</div>
<div class="row text-center big-hide">
  <div class="col-xs-12 x-scroller" >
    <div class="text-center"
         ng-class="{'highlighted': album.name  === currentAlbum}"
         ng-repeat="album in albumCovers track by $index"
         ng-click="goToAlbum(album.name, albumType)"
         ng-if="albumType != 'videos' || !album.hide_video_view">
      <div class="ml-5 cursPoint"

       style="padding:10px;">
        <span ng-if="currentAlbum">
            <img class="small-round "
                 ng-src="{{album.thumbnail}}"
                 >
        </span>
      </div>
      <p class="text-white text-center">
        {{album.name}}
      </p>
    </div>
  </div>
</div>