<div class="scrollmenu" >
  <a href="#!main"
     ng-click="initializeView('main')"
     style="margin-right:10em;"><b>Arillian Farm</b></a><span class="hover"></span>
  <a ng-click="initializeView('videos')"
     href="#!videos">Videos</a><span class="hover"></span>
  <a ng-click="initializeView('recipes')"
     href="#!recipes">Recipes</a><span class="hover"></span>
  <a href="#!pictures"
     ng-click="initializeView('pictures')"
  >Pictures</a><span class="hover"></span>
  <a href="https://www.zazzle.com/store/arillianfarm" target="_blank">Merch <i class="fa fa-external-link"></i></a><span class="hover"></span>
  <a ng-click="initializeView('projects')"
     href="#!projects">DIY Projects</a><span class="hover"></span>
  <a ng-click="initializeView('comics')"
     href="#!comics" ><span>Comics</span></a><span class="hover"></span>
  <a ng-click="initializeView('books')"
     href="#!books">Books</a><span class="hover"></span>
  <a ng-click="initializeView('blog')"
     href="#!blog">Blog</a><span class="hover"></span>
  <a ng-click="initializeView('about')"
     href="#!about">About</a><span class="hover"></span>
</div>