<div class="container br20 border2px" >
    <div class="row">
        <div class="col-xs-12">
            <h2 class="text-white">Blog</h2>
        </div>
    </div>
    <div class="row text-white" >
        <!--        nav scroll bar-->
        <div class="col-xs-12 col-lg-3" ng-style="{'border-right': !smallView ? '2px solid white' : ''}">
            <div class="row cursPoint">
                <div class="col-xs-12">
                    <h3>
                        <a>All Blog Entries</a>
                        <a class="btn btn-large btn-primary"
                           ng-if="data.collapse_nav_scroll && smallView"
                           ng-click="data.collapse_nav_scroll = false;">
                            <i class="fa fa-list"></i>
                        </a>
                    </h3>
                </div>
                <div class="col-xs-12 border2px br20 m-2"
                     ng-if="!data.collapse_nav_scroll || !smallView"
                     ng-class="{'highlighted': item.entry_subject === data.featuredBlogEntry.entry_subject }"
                     ng-repeat="item in data.blogEntries track by $index"
                     ng-click="scrollToBlogItem(item.entry_subject)"
                >
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>
                                <a class="nav-link text-white" >{{ item.entry_subject }}</a>
                            </h4>
                        </div>
                        <div class="col-lg-12" >
                            <div ng-if="item.feature_section_1 && item.feature_section_1.pic">
                                <img class="br20 mb-3"
                                     style="float:left"
                                     ng-src="{{item.feature_section_1.pic}}"
                                     width="75em;"
                                     height="75em;">
                            </div>
                            <div>
                                <p ng-if="item.sections && item.sections[0]">{{assembleBlogSummary(item)}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-9" >
            <div class="row" ng-if="data.featuredBlogEntry.custom_blog_1" custom-blog blog-data="{{data.featuredBlogEntry}}"></div>
            <div ng-if="data.featuredBlogEntry && !data.featuredBlogEntry.custom_blog_1">
                <div ng-id="assembleIDattribute(data.featuredBlogEntry.entry_subject)">
                    <h5 class="mb-0">
                        <div class="row blog-header">
                            <div class="col-xs-6">
                                {{titleCaps(data.featuredBlogEntry.entry_subject)}}
                            </div>
                            <div class="col-xs-6 pull-right text-right">
                                {{data.featuredBlogEntry.entry_date}}
                            </div>
                        </div>
                    </h5>
                    <hr>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h3 class="text-white">{{titleCaps(data.featuredBlogEntry.entry_subject)}}</h3>
                    </div>
                    <div ng-if="data.featuredBlogEntry.pic_file && data.featuredBlogEntry.link" class="row mb-2 mt-2" >
                        <div class="col-xs-12 text-center">
                            <a ng-href="{{getIframeSrc(data.featuredBlogEntry.link)}}" target="_blank">
                                <img ng-src="./assets/blog/{{data.featuredBlogEntry.pic_file}}" style="height: 20em; margin-left:3em;">
                            </a>
                        </div>
                    </div>
                    <div ng-if="!data.featuredBlogEntry.link && data.featuredBlogEntry.pic_file" class="col-xs-12 text-center mb-5 mt-5">
                        <img class="br20" ng-src="./assets/blog/{{data.featuredBlogEntry.pic_file}}" style="height: 20em;">
                    </div>
                    <div ng-if="data.featuredBlogEntry.link && !data.featuredBlogEntry.pic_file" class="col-xs-12 text-center mb-5 mt-5">
                        <h3  ng-href="{{getIframeSrc(data.featuredBlogEntry.link)}}" target="_blank">[LINK]</h3>
                    </div>
                    <div class="col-xs-12 text-justified text-white" ng-repeat="section in data.featuredBlogEntry.sections track by $index">
                        <div >
                            <img ng-if="section.pics"
                                 ng-src="./assets/blog/{{pic}}"
                                 style="height: 20em; padding:10px;"
                                 ng-style="{'float':section.right_side_pic ? 'right': 'left'}"
                                 class="br20 p2"
                                 ng-repeat="pic in section.pics track by $index">
                            <a class="ml-5" ng-style="{'float':section.right_side_pic ? 'right': 'left'}" ng-if="section.link && section.pic_file" ng-href="{{getIframeSrc(section.link)}}" target="_blank">
                                <img ng-src="./assets/blog/{{section.pic_file}}"
                                     style="height: 20em; padding:10px;">
                            </a>
                            <div style="margin-left:25px;" ng-if="section.paragraphs" ng-repeat="p in section.paragraphs track by $index">
                                <p ng-if="!p.bold && !p.h2 && !p.h3 && !p.h4">
                                    {{p.text}}
                                </p>
                                <b ng-if="p.bold">
                                    {{p.text}}
                                </b>
                                <h2 ng-if="p.h2">
                                    {{p.text}}
                                </h2>
                                <h3 ng-if="p.h3">
                                    {{p.text}}
                                </h3>
                                <h4 ng-if="p.h4">
                                    {{p.text}}
                                </h4>
                            </div>

                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
