
<div class="container" >
    <div class="row text-white">
        <div class="col-xs-12">
            <div  ng-repeat="entry in blogEntries track by $index">
                <div ng-id="assembleIDattribute(entry.entry_subject)"  ng-click="entry.expanded = !entry.expanded">
                    <h5 class="mb-0">
                        <div class="row blog-header">
                            <div class="col-xs-6">
                                {{entry.entry_subject}}
                            </div>
                            <div class="col-xs-6 pull-right text-right">
                                {{entry.entry_date}}
                            </div>
                        </div>
                    </h5>
                </div>
                <div  class={{entry.expanded?'show':'hide'}} >
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <h3 class="text-subtle">{{entry.entry_subject}}</h3>
                        </div>
                        <div ng-if="entry.pic_file && entry.link" class="row mb-2 mt-2" >
                            <div class="col-xs-12 text-center">
                                <a ng-href="{{getIframeSrc(entry.link)}}" target="_blank">
                                    <img ng-src="./assets/blog/{{entry.pic_file}}" style="height: 20em;">
                                </a>
                            </div>
                        </div>
                        <div ng-if="!entry.link && entry.pic_file" class="col-xs-12 text-center mb-5 mt-5">
                            <img ng-src="./assets/blog/{{entry.pic_file}}" style="height: 20em;">
                        </div>
                        <div ng-if="entry.link && !entry.pic_file" class="col-xs-12 text-center mb-5 mt-5">
                            <h3  ng-href="{{getIframeSrc(entry.link)}}" target="_blank">[LINK]</h3>
                        </div>
                        <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center" ng-repeat="paragraph in entry.entry_paragraphs track by $index">
                            <h4  ng-if="!paragraph.bold" style="margin-left:25px;">
                                {{paragraph.text}}
                            </h4>
                            <h4>
                                <b ng-if="paragraph.bold">
                                    {{paragraph.text}}
                                </b>
                            </h4>
                            <br>
                            <div ng-if="paragraph.pics" class="col-xs-12"  >
                                <img ng-src="./assets/blog/{{pic}}"
                                     style="height: 20em;"
                                     ng-repeat="pic in paragraph.pics track by $index"
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--        side scroll bar-->
        <div class="col-lg-4 small-hide">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Your Website</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                            <li ng-repeat="item in [{link:'/'}]" class="nav-item">
                                <a class="nav-link" href="{{ item.link }}">{{ item.name }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
