<div class="row text-center p-3 mb-5" >
    <div class="col-xs-12">
        <h4 class="text-danger">This page is a chronicle of projects Arthur and I have worked on... but not necessarily a recommendation of what or how anyone else should do anything.</h4>
    </div>
    <div class="col-xs-12" ng-repeat="project in projects">>
            <div class="card card-primary">
                <div class="card-header">
                    <div class="row">
                        <div class="col-xs-12 col-lg-6">
                            <h3>{{project.name}}</h3>
                        </div>
                        <div class="col-lg-6 small-hide text-right mt-3">
                            <h4 ng-if="recipe.notes" class="text-muted" >{{project.notes}}</h4>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12" >
                    <h3>Tools</h3>
                    <ol style="font-weight: bold" class="text-muted">
                        <li ng-repeat="tool in project.tools track by $index">
                            <h4>{{tool.name}}</h4>
                            <img ng-if="tool.pic" ng-src="./assets/diying/{{tool.pic}}" style="height: 150px;">
                        </li>
                    </ol>
                </div>
                <div class="col-xs-12" >
                    <h3>Materials</h3>
                    <ol style="font-weight: bold" class="text-muted">
                        <li ng-repeat="tool in project.materials track by $index">
                            <h4>{{material.name}}</h4>
                            <img ng-if="tool.pic" ng-src="./assets/diying/{material.pic}}" style="height: 150px;">
                        </li>
                    </ol>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div  class="col-xs-12 col-lg-6 text-center">
                            <img ng-if="project && project.header_pic" ng-src="./assets/diying/{{project.header_pic}}" style="height: 300px;">
                        </div>
                        <div class="col-xs-12 col-lg-6 mt-5" ng-if="project.phases">
                            <ul>
                                <li ng-repeat="phase in project.phases track by $index">
                                    <h4 class="text-muted" >{{phase.text}}</h4>
                                    <img ng-if="project && project.header_pic" ng-src="./assets/diying/{{project.header_pic}}" style="height: 300px;">
                                </li>
                            </ul>
                            <ul>
                                <div class="text-muted mt-2" ng-if="recipe.servings">(makes: {{recipe.servings}})</div>
                            </ul>
                        </div>

                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
