<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div ng-include="'landingPages/about.html'" style="padding-bottom:20px;"></div>
        </div>
        <div class="col-xs-12">
            <div section-thumbnails></div>
        </div>
<!--            <div ng-if="videos" ng-include="'landingPages/videos.html'" style="padding-bottom:20px;"></div>-->
<!--            <div ng-if="recipes" ng-include="'landingPages/recipes.html'" style="padding-bottom:20px;"></div>-->
<!--            <div ng-if="pictures" ng-include="'landingPages/pictures.html'" style="padding-bottom:20px;"></div>-->
<!--            <div ng-if="projects" ng-include="'landingPages/diying.html'" style="padding-bottom:20px;"></div>-->
<!--            <div ng-include="'landingPages/comics.html'" style="padding-bottom:20px;"></div>-->
<!--            <div ng-include="'landingPages/books.html'" style="padding-bottom:20px;"></div>-->
<!--            <div ng-if="blogEntries" ng-include="'landingPages/blog.html'" style="padding-bottom:20px;"></div>-->
    </div>
</div>

