<div  class="container border2px br20">
  <div class="row text-white text-center border2px">
    <div class="col-xs-12">
      <h2>Caption Contest</h2>
    </div>
    <div class="col-xs-12 mb-5">
        Email A Funny Caption To Post For This Picture
      <a class="btn btn-primary btn-sm pointer" style="font-weight: bold;" href="mailto:arillianfarm@gmail.com">
        <i class="fa fa-envelope" ></i>
      </a>
    </div>
    <div class="col-xs-12 mb-1">
      <img  class="br20"
            ng-src="./assets/pictures/photoCaption.png"
            style="height: 30em;">
    </div>
    <div class="col-xs-12 mb-5">
      <div class="row">
        <div class="col-xs-12">
          <h4>
            Captions:
          </h4>
        </div>
        <div class="col-xs-12">
          <b>
           ...You Know Those Mornings
          </b>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center" >
    <div class="col-xs-12">
      <h4 class="text-white">Picture Albums</h4>
      <div class="ml-5" album-header></div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-lg-4 mb-5" ng-repeat="pic in pictures track by $index">
      <h4 class="text-white">
        {{pic.caption}}
      </h4>
      <img  class="br20"
            ng-src="./assets/pictures/{{pic.file}}" style="height: 300px;">
    </div>
  </div>
</div>

<!--  <div class="row">-->
<!--    <div class="col-xs-12 border2px text-center text-white">-->
<!--      <h2>Albums</h2>-->
<!--      <div class="row " ng-repeat="pic in pictures track by $index">-->
<!--        <div class="col-xs-12 text-center">-->
<!--          <img  ng-src="./assets/pictures/{{pic.file}}" style="height: 300px;">-->
<!--        </div>-->
<!--        <div class="col-xs-12 text-center">-->
<!--          <h4 class="text-muted" ng-if="pic.caption">{{pic.caption}}</h4>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</div>