<div  class="container border2px br20">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="text-white">Recipes</h2>
        </div>
    </div>
  <div ng-if="recipes" class="row text-white" ng-repeat="recipe in recipes track by $index">
     <div class="col-xs-12">
         <div class="row">
             <div class="col-xs-8 col-lg-4">
                 <h4>{{recipe.name}}</h4>
             </div>
             <div class="col-lg-4 small-hide mt-3" >
                 <h5 ng-if="recipe.notes" >{{recipe.notes}}</h5>
             </div>
             <div class="col-xs-12 col-lg-4 mt-4 text-white cursPoint text-right pull-right" >
                 <button class="btn btn-light btn-xs" ng-click="copyForClipboard(recipe.summary)"><i class="fa fa-files-o">  </i><b>Recipe</b></button>
                 <button class="btn btn-info btn-xs" ng-click="putHashLinkOnClipboard(recipe.name)"> <i class="fa fa-files-o">  </i><b>Link</b></button>
             </div>
             <div class="col-xs-12 bb2 mb-2" style></div>
         </div>
         <div class="row">
             <div  class="col-xs-12 col-lg-4 text-center">
                 <img ng-if="recipe && recipe.header_pic"
                      class="br20 m-3"
                      ng-src="./assets/recipes/{{recipe.header_pic}}"
                      style="height: 300px; max-width: 25em;">
             </div>
             <div class="col-xs-12 col-lg-4 mt-5" ng-if="recipe.ingredients">
                 <ul>
                     <li ng-repeat="ingredient in recipe.ingredients track by $index">
                         <h4 class="text-muted" >{{ingredient}}</h4>
                     </li>
                 </ul>
                 <ul>
                     <div class="text-muted mt-2" ng-if="recipe.servings">(makes: {{recipe.servings}})</div>
                 </ul>
             </div>
             <div class="col-xs-12 col-lg-4" style="max-height: 40em; overflow-y:scroll;">
                 <ol style="font-weight: bold" class="text-muted">
                     <li ng-repeat="step in recipe.steps track by $index">
                         <h4>{{step.instruction}}</h4>
                         <img class="br20" ng-if="step.pic" ng-src="./assets/recipes/{{step.pic}}" style="height: 150px;">
                     </li>
                 </ol>
             </div>
             <div class="col-xs-12 bb2 mb-2" style></div>
         </div>
     </div>


  </div>


</div>